<div id="multisafepay-order-tab">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td>{{ row_total }}</td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
    {% if status == 'completed' or status == 'shipped' or status == 'initialized' or status == 'expired' %}
    <div class="float-end">
        {% if status == 'completed' or status == 'shipped' %}
            <button id="button-refund" data-toggle="tooltip" title="{{ button_refund }}" class="btn btn-danger"><i class="fas fa-step-backward"></i> {{ button_refund }}</button>
        {% endif %}
        {% if status == 'initialized' %}
            <button id="button-cancel" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-danger"><i class="fas fa-times"></i> {{ button_cancel }}</button>
        {% endif %}
        {% if status == 'completed' or status == 'initialized' %}
            <button id="button-shipped" data-toggle="tooltip" title="{{ button_shipped }}" class="btn btn-info"><i class="fas fa-plane"></i> {{ button_shipped }}</button>
        {% endif %}
    </div>
    {% endif %}
</div>
{% if status == 'completed' or status == 'shipped' or status == 'initialized' or status == 'expired' %}
    {% if status == 'completed' or status == 'shipped' %}
<script type="text/javascript"><!--
    $('#button-refund').on('click', function(e) {
        e.preventDefault();
        if (confirm('{{ text_refund_confirm }}')) {
            $.ajax({
                url: 'index.php?route=extension/multisafepay/payment/multisafepay.refundOrder&user_token={{ user_token }}&order_id={{ order_id }}',
                dataType: 'json',
                async: false,
                beforeSend: function() {
                    $('#button-refund').button('loading');
                },
                complete: function() {
                    $('#button-refund').button('reset');
                },
                success: function(json) {
                    if (json['error']) {
                        $('#tab-multisafepay-order').prepend('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                    }
                    if (json['success']) {
                        $('#history').load('index.php?route=sale/order.history&user_token={{ user_token }}&order_id={{ order_id }}');
                        $('#tab-multisafepay-order').load('index.php?route=extension/multisafepay/payment/multisafepay.refreshOrderTab&user_token={{ user_token }}&order_id={{ order_id }}', function() {
                            $('#tab-multisafepay-order').prepend('<div class="alert alert-success alert-dismissible fade show" role="alert">' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        });
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }
    });
    //--></script>
    {% endif %}
    {% if status == 'initialized' %}
        <script type="text/javascript"><!--
            $('#button-cancel').on('click', function(e) {
                e.preventDefault();
                if (confirm('{{ text_cancelled_confirm }}')) {
                    $.ajax({
                        url: 'index.php?route=extension/multisafepay/payment/multisafepay.changeMultiSafepayOrderStatusTo&user_token={{ user_token }}&order_id={{ order_id }}&type=cancelled',
                        dataType: 'json',
                        async: false,
                        beforeSend: function() {
                            $('#button-cancel').button('loading');
                        },
                        complete: function() {
                            $('#button-cancel').button('reset');
                        },
                        success: function(json) {
                            if (json['error']) {
                                $('#tab-multisafepay-order').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            }
                            if (json['success']) {
                                $('#history').load('index.php?route=sale/order.history&user_token={{ user_token }}&order_id={{ order_id }}');
                                $('#tab-multisafepay-order').load('index.php?route=extension/multisafepay/payment/multisafepay.refreshOrderTab&user_token={{ user_token }}&order_id={{ order_id }}', function() {
                                    $('#tab-multisafepay-order').prepend('<div class="alert alert-success alert-dismissible fade show" role="alert">' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                                });
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            });
            //--></script>
    {% endif %}
    {% if status == 'completed' or status == 'initialized' %}
        <script type="text/javascript"><!--
            $('#button-shipped').on('click', function(e) {
                e.preventDefault();
                if (confirm('{{ text_shipped_confirm }}')) {
                    $.ajax({
                        url: 'index.php?route=extension/multisafepay/payment/multisafepay.changeMultiSafepayOrderStatusTo&user_token={{ user_token }}&order_id={{ order_id }}&type=shipped',
                        dataType: 'json',
                        async: false,
                        beforeSend: function() {
                            $('#button-shipped').button('loading');
                        },
                        complete: function() {
                            $('#button-shipped').button('reset');
                        },
                        success: function(json) {
                            if (json['error']) {
                                $('#tab-multisafepay-order').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' + json['error'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            }
                            if (json['success']) {
                                $('#history').load('index.php?route=sale/order.history&user_token={{ user_token }}&order_id={{ order_id }}');

                                $('#tab-multisafepay-order').load('index.php?route=extension/multisafepay/payment/multisafepay.refreshOrderTab&user_token={{ user_token }}&order_id={{ order_id }}', function() {
                                    $('#tab-multisafepay-order').prepend('<div class="alert alert-success alert-dismissible fade show" role="alert">' + json['success'] + ' <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                                });
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            });
            //--></script>
    {% endif %}
{% endif %}
